.contact {
    padding: rem(56) 0 rem(60);
    background: #F7F7F7;
    text-align: center;
    @include mq('md') {
        padding: rem(77) 0;
    }
    &__head {}
    &__body {
        margin-top: rem(26);
        font-family: $second-font-family;
        // letter-spacing: -0.08em;
        @include mq('md') {
            margin-top: rem(30);
        }
    }
    &__btn {
        margin-top: rem(28);
    }
}