.drawer-icon {
    width: rem(31);
    height: rem(31);
    position: fixed;
    top: rem(23.5);
    right: rem(20);
    z-index: $layer-drawer + 1;
    display: block;
    transition: transform 0.5s ease 0s;
    @include mq('md') {
        display: none;
    }
    &.is-active {
        .drawer-icon__bar1 {
            transform: rotate(-45deg);
            top: rem(8);
        }
        .drawer-icon__bar2 {
            display: none;
        }
        .drawer-icon__bar3 {
            transform: rotate(45deg);
            top: rem(8);
        }
    }
    &__bars {
        display: block;
        position: relative;
    }
    &__bar1,
    &__bar2,
    &__bar3 {
        transition: transform 0.3s;
        position: absolute;
        width: rem(31);
        height: rem(1);
        background: #fff;
        top: 0;
        left: 0;
    }
    &__bar1 {
        top: 0;
    }
    &__bar2 {
        top: rem(8);
    }
    &__bar3 {
        top: rem(16);
    }
}

.drawer-content {
    display: block;
    color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: $layer-drawer;
    text-align: center;
    transform: translateY(-105%);
    &.is-active {
        transform: translateY(0);
    }
    &__items {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__item {}
    &__link {
        display: inline-block;
        font-weight: $bold;
        padding: rem(8.5);
        font-size: rem(15);
    }
}

.drawer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #642390, #19074A);
    ;
    z-index: $layer-drawer - 1;
    display: none;
    &.is-active {
        display: block;
    }
}